<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RideCompare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9368BA931E54F82900EE3EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9368BAA71E54F82A00EE3EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9368BAB21E54F82A00EE3EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
